body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: #f9f9fa;
}

.nav-wrapper img {
  width: auto;
}

.brand-name-image {
  max-height: 75px;
  margin-top: -10px;
}

.brand-logo {
  max-height: 55px;
  margin-top: 1px;
}

.sidenav-trigger {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.card-image > img{
  height: 30vh;
}
.card-title {
  text-shadow: 2px 2px 4px #000000;
}
