body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: #f9f9fa;
}

.nav-wrapper img {
  width: auto;
}

.brand-name-image {
  max-height: 75px;
  margin-top: -10px;
}

.brand-logo {
  max-height: 55px;
  margin-top: 1px;
}

.sidenav-trigger {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.card-image > img{
  height: 280px;
  object-fit: cover;
}

.card-title {
  text-shadow: 2px 2px 4px #000000;
  background: rgba(38, 194, 129, 0.5);
  border-radius: 15px;
}

.id-form {
  width: 70%;
  margin-top: 20vh;
  margin-left: 15vw;
}

.connect-button {
  margin-top: 2vh
}

.btn-logout {
  margin-top: 2vh;
}

.table-gestion {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.modal-trigger {
  margin-top: 1vh;
  margin-left: 0.5vw;
}
