body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background: #f9f9fa;
}

.nav-wrapper img {
  width: auto;
}

.brand-name-image {
  max-height: 75px;
  margin-top: -10px;
}

.brand-logo {
  max-height: 55px;
  margin-top: 1px;
}

.sidenav-trigger {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.card-image > img{
  height: 280px;
  object-fit: cover;
}

.card {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.card:hover {
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.card-title {
  text-shadow: 2px 2px 4px #000000;
}

.card-content {
  min-height: 13vh;
}

.id-form {
  width: 70%;
  margin-top: 20vh;
  margin-left: 15vw;
}

.connect-button {
  margin-top: 2vh
}

.btn-logout {
  margin-top: 2vh;
}

.menu-table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
}

.member-table {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15vh;
  margin-top: 15vh;
}

.modal-trigger {
  margin-top: 1vh;
  margin-left: 0.5vw;
}

.image-size {
  width: 50%;
}

.file-field {
  padding-top: 6vh;
}

.form-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
}
